<div class="grid_3 section">
  <p class="title">agenda</p>

  <% unless @agendas.empty? %>
    <% @agendas.each do |a| %>
    <div class="agenda">
      <p class="agenda-title"><%= link_to a.title, a %></p>
      <p class="date"><%= l(a.date) unless a.date.nil? %></p>
      <p class="type"><%= t("agenda.types.#{a.type}") %></p>    
      <p class="details"><%= link_to "+ detalhes", a %></p>
    </div>
    <% end %>
  <% else %>
    <div class="agenda">no momento não há eventos confirmados</div>
  <% end %>
</div>

<div class="grid_4 section">
  <p class="title">sobre</p>
  <div class="about">
    <p>
      <strong>ruby</strong> é uma linguagem dinâmica, open source com foco na simplicidade e na produtividade. Tem uma sintaxe elegante de leitura natural e fácil escrita.
    </p>
    <p>
      <strong>ruby on rails</strong> é um framework de desenvolvimento web (gratuito e de código aberto) otimizado para produtividade sustentável e a diversão do programador. permite que você escreva código de forma elegante, favorecendo a convenção ao invés da configuração.
    </p>
    <p>
      o objetivo do <strong>guru sorocaba (grupo de usuários ruby de sorocaba)</strong> é divulgar e disseminar ruby, rails e outras tecnologias web em sorocaba e região.
    </p>
  </div>
</div>

<div class="grid_2 section">
  <p class="title">contato</p>
  <p>
    leve o guru sorocaba <strong>(gratuitamente)</strong> para palestrar, ministrar um curso ou fazer um encontro na sua universidade ou empresa :)
    <br /><br />
  </p>
  <p class="slash">
    <%= link_to "twitter", "http://twitter.com/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= link_to "facebook", "http://www.facebook.com/groups/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= mail_to "gurusorocaba@gmail.com", "e-mail" %>
  </p>
</div>

<div class="grid_3 section">
  <p class="title">apoio</p>
  <%= link_to "webbynode", "http://webbynode.com", :rel => "nofollow", :target => "_blank" %>
</div>