<div class="grid_3 alpha section">
  <p class="title">agenda</p>

  <% unless @agendas.empty? %>
    <% @agendas.each do |a| %>
    <div class="agenda">
      <p class="agenda-title"><%= link_to a.title, a %></p>
      <p class="date"><%= l(a.date) unless a.date.nil? %></p>
      <p class="type"><%= t("agenda.types.#{a.type}") %></p>    
      <p class="details"><%= link_to "+ detalhes", a %></p>
    </div>
    <% end %>
  <% else %>
    <div class="agenda">no momento não há eventos confirmados</div>
  <% end %>

  <p class="agenda-past"><%= link_to "eventos passados", past_agendas_path %></p>
</div>

<div class="grid_4 section">
  <p class="title">sobre</p>
  <div class="about">
    <p>
      <strong>ruby</strong> é uma linguagem dinâmica, open source com foco na simplicidade e na produtividade. Tem uma sintaxe elegante de leitura natural e fácil escrita.
    </p>
    <p>
      <strong>ruby on rails</strong> é um framework de desenvolvimento web (gratuito e de código aberto) otimizado para produtividade sustentável e a diversão do programador. permite que você escreva código de forma elegante, favorecendo a convenção ao invés da configuração.
    </p>
    <p>
      o objetivo do <strong>guru sorocaba (grupo de usuários ruby de sorocaba)</strong> é divulgar e disseminar ruby, rails e outras tecnologias web em sorocaba e região.
    </p>
  </div>
</div>

<%= render "shared/contact" %>

<%= render "shared/partners" %>