<!DOCTYPE html>
<html>
<head>
  <title>guru sorocaba - administrator</title>
  <%= stylesheet_link_tag    "structure", "application", "admin/admin" %>
  <%= javascript_include_tag "application" %>
  <%= development_assets unless Rails.env.production? %>
  <%= render "shared/grid" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
  <div id="header">
    <div class="container">
      <h1><%= link_to "guru sorocaba", root_path %></h1>
      <nav>
        <% if administrator_signed_in? %>
          <%= link_to current_administrator.email, "#" %>
          <%= link_to "agenda", admin_agendas_path, :class => controller.controller_name == "agendas" ? "active" : "" %>
          <%= link_to "usuários", admin_users_path, :class => controller.controller_name == "users" ? "active" : "" %>
          <%= link_to "logout", admin_logout_path %>
        <% end %>
      </nav>
      <%= render "shared/flash_messages" %>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>