<!DOCTYPE html>
<html>
<head>
  <title>guru sorocaba - administrator</title>
  <%= stylesheet_link_tag    "structure", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="container">
      <h1><%= link_to "guru sorocaba", root_path %></h1>
      <nav>
        <% if administrator_signed_in? %>
          <%= link_to current_administrator.email, "#" %>
          <%= link_to "logout", admin_logout_path %>
        <% end %>
      </nav>
      <% flash.each do |name, msg| %>
        <ul class="form-messages success">
          <li class="title"><%= raw msg %></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>