<div class="grid_7 section">
  <p class="title">agenda</p>
  <div class="agenda">
    <p class="agenda-title"><%= @agenda.title %></p>
    <p class="date"><%= l(@agenda.date) unless @agenda.date.nil? %></p>
    <p class="type"><%= t("agend@agenda.types.#{@agenda.type}") %></p>
    <br />
    <p class="description"><%= @agenda.description.gsub("\n", "<br />").html_safe %></p>
    <p class="place"><%= @agenda.place %></p>
  </div>
</div>



<div class="grid_2 section">
	<p class="title">contato</p>
  <p class="slash">
    <%= link_to "twitter", "http://twitter.com/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= link_to "facebook", "http://www.facebook.com/groups/gurusorocaba", :rel => "nofollow", :target => "_blank" %>
    <%= mail_to "gurusorocaba@gmail.com", "e-mail" %>
  </p>
</div>

<div class="grid_3 section">
  <p class="title">apoio</p>
  <%= link_to "webbynode", "http://webbynode.com", :rel => "nofollow", :target => "_blank" %>
</div>