<div class="grid_7 section">
  <p class="title">agenda</p>
  <div class="agenda">
    <p class="agenda-title"><%= @agenda.title %></p>
    <p class="date"><%= l(@agenda.date) unless @agenda.date.nil? %></p>
    <p class="type"><%= t("agend@agenda.types.#{@agenda.type}") %></p>
    <br />
    <p class="description"><%= @agenda.description.gsub("\n", "<br />").html_safe %></p>
    <p class="place"><%= @agenda.place %></p>
  </div>
</div>

<%= render "shared/contact" %>

<%= render "shared/partners" %>